main {
  /* Устанавливаем минимальную высоту для основной области */
  min-height: calc(100vh - 80px);

  /* Устанавливаем серый фон для основной области */
  background-color: #888;

  /* Устанавливаем отступы сверху и снизу для основной области */
  padding: 10px 0;

  /* Устанавливаем центрирование основной области */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Устанавливаем белый цвет для содержимого основной области */
main > div {
  background-color: #fff;

  /* Устанавливаем отступы для содержимого основной области */
  padding: 10px;
}


footer {
  /* Устанавливаем цвет фона */
  background-color: #333;

  /* Устанавливаем цвет текста */
  color: #fff;


}

footer {
  /* Устанавливаем фиксированную высоту для футера */
  height: 40px;

  /* Устанавливаем фоновый цвет */
  background-color: #333;

  /* Устанавливаем цвет текста */
  color: #fff;

  /* Устанавливаем положение футера относительно нижнего края страницы */
  position: absolute;
  bottom: 0;
  width: 100%;
}